# Включаем EditorConfig
root = true

# Общие настройки для всех файлов
[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C / C++ файлы
[*.{c,h,cpp,hpp}]
indent_size = 4

# Rust
[*.rs]
indent_size = 4

# CMake
[CMakeLists.txt]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
